In [428]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [429]:
df1 = pd.read_json("dataset_utkarsh.json")
df2 = pd.read_json("dataset_tazerr.json")
df3 =  pd.read_csv("../fake/compiled_output.csv")

In [430]:
df1.columns

Index(['inputUrl', 'id', 'username', 'url', 'fullName', 'biography',
       'followersCount', 'followsCount', 'hasChannel', 'highlightReelCount',
       'isBusinessAccount', 'joinedRecently', 'businessCategoryName',
       'private', 'verified', 'profilePicUrl', 'profilePicUrlHD',
       'igtvVideoCount', 'relatedProfiles', 'latestIgtvVideos', 'postsCount',
       'latestPosts', 'externalUrl', 'externalUrlShimmed', 'error',
       'isRestrictedProfile', 'restrictionReason'],
      dtype='object')

In [431]:
df2.columns

Index(['inputUrl', 'id', 'username', 'url', 'fullName', 'biography',
       'externalUrl', 'externalUrlShimmed', 'followersCount', 'followsCount',
       'hasChannel', 'highlightReelCount', 'isBusinessAccount',
       'joinedRecently', 'businessCategoryName', 'private', 'verified',
       'profilePicUrl', 'profilePicUrlHD', 'igtvVideoCount', 'relatedProfiles',
       'latestIgtvVideos', 'postsCount', 'latestPosts'],
      dtype='object')

In [432]:
df3.columns

Index(['user_biography', 'user_followers', 'user_following', 'user_is_private',
       'user_is_verified', 'user_username', 'user_media_count',
       'latest_media_comments', 'latest_media_likes'],
      dtype='object')

In [433]:
df1.head()

,inputUrl,id,username,url,fullName,biography,followersCount,followsCount,hasChannel,highlightReelCount,...,igtvVideoCount,relatedProfiles,latestIgtvVideos,postsCount,latestPosts,externalUrl,externalUrlShimmed,error,isRestrictedProfile,restrictionReason
0,https://www.instagram.com/gangesh.c_07,51578445672,gangesh.c_07,https://www.instagram.com/gangesh.c_07,Gangesh Chopra,:)\ndldavsb'24\nDTU MCE'28 ðŸŽ“,278.0,361.0,0.0,0.0,...,0.0,[],[],0.0,[],NaN,NaN,NaN,NaN,NaN
1,https://www.instagram.com/rahul._.gg,5700053758,rahul._.gg,https://www.instagram.com/rahul._.gg,Rahul,ðŸ‡®ðŸ‡³ðŸ‡¸ðŸ‡¦\nðŸ¥€,491.0,553.0,0.0,0.0,...,0.0,[],[],0.0,[],NaN,NaN,NaN,NaN,NaN
2,https://www.instagram.com/apparentlydaksh,66222558778,apparentlydaksh,https://www.instagram.com/apparentlydaksh,Daksh Kadyan,DTUâ€™28,154.0,151.0,0.0,0.0,...,0.0,[],[],0.0,[],NaN,NaN,NaN,NaN,NaN
3,https://www.instagram.com/rishabhraj1024,69630558552,rishabhraj1024,https://www.instagram.com/rishabhraj1024,Rishabh Raj,An introvert\nDTU{DCE} '28\nSoftware Engineering,116.0,151.0,0.0,0.0,...,0.0,[],[],0.0,[],NaN,NaN,NaN,NaN,NaN
4,https://www.instagram.com/ashish.kr_04,67645285247,ashish.kr_04,https://www.instagram.com/ashish.kr_04,Ashish Kumar Jha,DTU (DCE)''28,156.0,185.0,0.0,0.0,...,0.0,[],[],0.0,[],NaN,NaN,NaN,NaN,NaN

In [434]:
df1 = df1.drop(list(set(df1.columns) - set(df2.columns)), axis="columns")

In [435]:
len(df1.columns)

24

In [436]:
df1 = df1.drop(["inputUrl", "id", "url", "profilePicUrl", "profilePicUrlHD", "externalUrl", "externalUrlShimmed"], axis="columns")
df2 = df2.drop(["inputUrl", "id", "url", "profilePicUrl", "profilePicUrlHD", "externalUrl", "externalUrlShimmed"], axis="columns")

In [437]:
df1.drop("fullName", axis="columns", inplace=True)
df2.drop("fullName", axis="columns", inplace=True)

In [438]:
df3.columns

Index(['user_biography', 'user_followers', 'user_following', 'user_is_private',
       'user_is_verified', 'user_username', 'user_media_count',
       'latest_media_comments', 'latest_media_likes'],
      dtype='object')

In [439]:
df3.head()

,user_biography,user_followers,user_following,user_is_private,user_is_verified,user_username,user_media_count,latest_media_comments,latest_media_likes
0,NaN,1027,1932,False,False,a.a.ghasami20,1,1.0,122.0
1,NaN,105,7195,False,False,amirijik1,9,0.0,2.0
2,NaN,98,1900,False,False,mohamah.kurd,4,0.0,10.0
3,NaN,124,7336,False,False,golmar0543,10,0.0,1.0
4,NaN,83,2410,True,False,sadegh_abde,24,NaN,NaN

In [440]:
df1.columns

Index(['username', 'biography', 'followersCount', 'followsCount', 'hasChannel',
       'highlightReelCount', 'isBusinessAccount', 'joinedRecently',
       'businessCategoryName', 'private', 'verified', 'igtvVideoCount',
       'relatedProfiles', 'latestIgtvVideos', 'postsCount', 'latestPosts'],
      dtype='object')

In [441]:
df1["username_len"] = df1["username"].apply(len)
df2["username_len"] = df2["username"].apply(len)
df3["username_len"] = df3["user_username"].apply(len)

In [442]:
def num_count(str):
    count = 0
    for i in str:
        try:
            x = int(i)
        except:
            pass
        else:
            count += 1
    return count

In [443]:
df1["username_num_count"] = df1["username"].apply(num_count)
df2["username_num_count"] = df2["username"].apply(num_count)
df3["username_num_count"] = df3["user_username"].apply(num_count)

In [444]:
df1.head()

,username,biography,followersCount,followsCount,hasChannel,highlightReelCount,isBusinessAccount,joinedRecently,businessCategoryName,private,verified,igtvVideoCount,relatedProfiles,latestIgtvVideos,postsCount,latestPosts,username_len,username_num_count
0,gangesh.c_07,:)\ndldavsb'24\nDTU MCE'28 ðŸŽ“,278.0,361.0,0.0,0.0,0.0,0.0,None,True,False,0.0,[],[],0.0,[],12,2
1,rahul._.gg,ðŸ‡®ðŸ‡³ðŸ‡¸ðŸ‡¦\nðŸ¥€,491.0,553.0,0.0,0.0,0.0,0.0,None,True,False,0.0,[],[],0.0,[],10,0
2,apparentlydaksh,DTUâ€™28,154.0,151.0,0.0,0.0,0.0,0.0,None,True,False,0.0,[],[],0.0,[],15,0
3,rishabhraj1024,An introvert\nDTU{DCE} '28\nSoftware Engineering,116.0,151.0,0.0,0.0,0.0,0.0,None,True,False,0.0,[],[],0.0,[],14,4
4,ashish.kr_04,DTU (DCE)''28,156.0,185.0,0.0,0.0,0.0,0.0,None,True,False,0.0,[],[],0.0,[],12,2

In [445]:
df1["username_ratio"] = df1["username_num_count"] / df1["username_len"]
df2["username_ratio"] = df2["username_num_count"] / df2["username_len"]
df3["username_ratio"] = df3["username_num_count"] / df3["username_len"]

In [446]:
df1.columns

Index(['username', 'biography', 'followersCount', 'followsCount', 'hasChannel',
       'highlightReelCount', 'isBusinessAccount', 'joinedRecently',
       'businessCategoryName', 'private', 'verified', 'igtvVideoCount',
       'relatedProfiles', 'latestIgtvVideos', 'postsCount', 'latestPosts',
       'username_len', 'username_num_count', 'username_ratio'],
      dtype='object')

In [447]:
df2.columns

Index(['username', 'biography', 'followersCount', 'followsCount', 'hasChannel',
       'highlightReelCount', 'isBusinessAccount', 'joinedRecently',
       'businessCategoryName', 'private', 'verified', 'igtvVideoCount',
       'relatedProfiles', 'latestIgtvVideos', 'postsCount', 'latestPosts',
       'username_len', 'username_num_count', 'username_ratio'],
      dtype='object')

In [448]:
df3.columns

Index(['user_biography', 'user_followers', 'user_following', 'user_is_private',
       'user_is_verified', 'user_username', 'user_media_count',
       'latest_media_comments', 'latest_media_likes', 'username_len',
       'username_num_count', 'username_ratio'],
      dtype='object')

In [449]:
df1.drop("joinedRecently", axis="columns", inplace=True)
df2.drop("joinedRecently", axis="columns", inplace=True)

In [450]:
df1.columns

Index(['username', 'biography', 'followersCount', 'followsCount', 'hasChannel',
       'highlightReelCount', 'isBusinessAccount', 'businessCategoryName',
       'private', 'verified', 'igtvVideoCount', 'relatedProfiles',
       'latestIgtvVideos', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio'],
      dtype='object')

In [451]:
df2.columns

Index(['username', 'biography', 'followersCount', 'followsCount', 'hasChannel',
       'highlightReelCount', 'isBusinessAccount', 'businessCategoryName',
       'private', 'verified', 'igtvVideoCount', 'relatedProfiles',
       'latestIgtvVideos', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio'],
      dtype='object')

In [452]:
df1.drop("hasChannel", axis="columns", inplace=True)
df2.drop("hasChannel", axis="columns", inplace=True)

In [453]:
df1.columns

Index(['username', 'biography', 'followersCount', 'followsCount',
       'highlightReelCount', 'isBusinessAccount', 'businessCategoryName',
       'private', 'verified', 'igtvVideoCount', 'relatedProfiles',
       'latestIgtvVideos', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio'],
      dtype='object')

In [454]:
df1.drop(["businessCategoryName", "igtvVideoCount", "relatedProfiles", "latestIgtvVideos"], axis="columns", inplace=True)
df2.drop(["businessCategoryName", "igtvVideoCount", "relatedProfiles", "latestIgtvVideos"], axis="columns", inplace=True)

In [455]:
df1.columns

Index(['username', 'biography', 'followersCount', 'followsCount',
       'highlightReelCount', 'isBusinessAccount', 'private', 'verified',
       'postsCount', 'latestPosts', 'username_len', 'username_num_count',
       'username_ratio'],
      dtype='object')

In [456]:
df2.columns

Index(['username', 'biography', 'followersCount', 'followsCount',
       'highlightReelCount', 'isBusinessAccount', 'private', 'verified',
       'postsCount', 'latestPosts', 'username_len', 'username_num_count',
       'username_ratio'],
      dtype='object')

In [457]:
df3.columns

Index(['user_biography', 'user_followers', 'user_following', 'user_is_private',
       'user_is_verified', 'user_username', 'user_media_count',
       'latest_media_comments', 'latest_media_likes', 'username_len',
       'username_num_count', 'username_ratio'],
      dtype='object')

In [458]:
df1["biography_len"] = df1["biography"].apply(len)
df2["biography_len"] = df2["biography"].apply(len)
df3["user_biography"] = df3["user_biography"].replace(np.NaN, "")
df3["biography_len"] = df3["user_biography"].apply(len)

df1.drop("biography", axis="columns", inplace=True)
df2.drop("biography", axis="columns", inplace=True)
df3.drop("user_biography", axis="columns", inplace=True)

In [459]:
df1['isBio'] = df1['biography_len'].apply(lambda x: 1 if x > 0 else 0)
df2['isBio'] = df2['biography_len'].apply(lambda x: 1 if x > 0 else 0)
df3['isBio'] = df3['biography_len'].apply(lambda x: 1 if x > 0 else 0)

In [460]:
df1.drop("username", axis="columns", inplace=True)
df2.drop("username", axis="columns", inplace=True)
df3.drop("user_username", axis="columns", inplace=True)

In [461]:
df1.drop("highlightReelCount", axis="columns", inplace=True)
df2.drop("highlightReelCount", axis="columns", inplace=True)

In [462]:
df1.columns

Index(['followersCount', 'followsCount', 'isBusinessAccount', 'private',
       'verified', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio', 'biography_len', 'isBio'],
      dtype='object')

In [463]:
df3.columns

Index(['user_followers', 'user_following', 'user_is_private',
       'user_is_verified', 'user_media_count', 'latest_media_comments',
       'latest_media_likes', 'username_len', 'username_num_count',
       'username_ratio', 'biography_len', 'isBio'],
      dtype='object')

In [464]:
df3 = df3.rename(columns={'user_followers': 'followersCount', 'user_following': 'followingCount', 'user_is_private': 'isPrivate', 'user_is_verified': 'isVerified', 'user_media_count': 'postsCount'})
df1 = df1.rename(columns={'private': 'isPrivate', 'verified': 'isVerified'})
df2 = df2.rename(columns={'private': 'isPrivate', 'verified': 'isVerified'})

In [465]:
df1.columns

Index(['followersCount', 'followsCount', 'isBusinessAccount', 'isPrivate',
       'isVerified', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio', 'biography_len', 'isBio'],
      dtype='object')

In [466]:
df2.columns

Index(['followersCount', 'followsCount', 'isBusinessAccount', 'isPrivate',
       'isVerified', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio', 'biography_len', 'isBio'],
      dtype='object')

In [467]:
df3.columns

Index(['followersCount', 'followingCount', 'isPrivate', 'isVerified',
       'postsCount', 'latest_media_comments', 'latest_media_likes',
       'username_len', 'username_num_count', 'username_ratio', 'biography_len',
       'isBio'],
      dtype='object')

In [468]:
df_clean = pd.concat([df1, df2])
df_clean.columns

Index(['followersCount', 'followsCount', 'isBusinessAccount', 'isPrivate',
       'isVerified', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio', 'biography_len', 'isBio'],
      dtype='object')

In [469]:
df_clean.drop("isBusinessAccount", axis="columns", inplace=True)

In [470]:
df_clean.columns

Index(['followersCount', 'followsCount', 'isPrivate', 'isVerified',
       'postsCount', 'latestPosts', 'username_len', 'username_num_count',
       'username_ratio', 'biography_len', 'isBio'],
      dtype='object')

In [471]:
df3.columns

Index(['followersCount', 'followingCount', 'isPrivate', 'isVerified',
       'postsCount', 'latest_media_comments', 'latest_media_likes',
       'username_len', 'username_num_count', 'username_ratio', 'biography_len',
       'isBio'],
      dtype='object')

In [472]:
df_public = df_clean[df_clean['isPrivate'] == False].reset_index(drop=True)
df_private = df_clean[df_clean['isPrivate'] == True].reset_index(drop=True)

In [473]:
df_private.drop(["latestPosts", "biography_len"], axis="columns", inplace=True)

In [474]:
df_private.columns

Index(['followersCount', 'followsCount', 'isPrivate', 'isVerified',
       'postsCount', 'username_len', 'username_num_count', 'username_ratio',
       'isBio'],
      dtype='object')

In [475]:
df_fake_public = df3[df3['isPrivate'] == False].reset_index(drop=True)
df_fake_private = df3[df3['isPrivate'] == True].reset_index(drop=True)

In [476]:
df_fake_private.drop(["latest_media_comments", "latest_media_likes", "biography_len"], axis="columns", inplace=True)

In [477]:
df_fake_private["label"] = 1
df_private["label"] = 0

In [478]:
df_private = df_private.rename(columns={'followsCount': 'followingCount'})

print(df_private.columns)
print(df_fake_private.columns)

Index(['followersCount', 'followingCount', 'isPrivate', 'isVerified',
       'postsCount', 'username_len', 'username_num_count', 'username_ratio',
       'isBio', 'label'],
      dtype='object')
Index(['followersCount', 'followingCount', 'isPrivate', 'isVerified',
       'postsCount', 'username_len', 'username_num_count', 'username_ratio',
       'isBio', 'label'],
      dtype='object')

In [479]:

df_private_joint = pd.concat([df_private, df_fake_private])
df_private_joint.to_json('private_joint.json', orient='records')

In [480]:
df_private_joint["label"].value_counts()

label
0    794
1    103
Name: count, dtype: int64

In [481]:
df_public.to_json('public_temp.json', orient='records')

In [482]:
df_private_joint.columns
df_private_joint.isna().sum()

followersCount        0
followingCount        0
isPrivate             0
isVerified            0
postsCount            0
username_len          0
username_num_count    0
username_ratio        0
isBio                 0
label                 0
dtype: int64

In [483]:
df_public.head()

,followersCount,followsCount,isPrivate,isVerified,postsCount,latestPosts,username_len,username_num_count,username_ratio,biography_len,isBio
0,561963.0,443.0,False,True,120.0,"[{'id': '3235237181487436638', 'type': 'Sideca...",13,0,0.0,14,1
1,116526.0,43.0,False,False,30.0,"[{'id': '3485320654130845106', 'type': 'Sideca...",10,0,0.0,48,1
2,317009.0,256.0,False,False,354.0,"[{'id': '3486001512411238321', 'type': 'Video'...",13,0,0.0,100,1
3,573818.0,576.0,False,True,122.0,"[{'id': '3429480634672701327', 'type': 'Video'...",12,0,0.0,125,1
4,167994.0,887.0,False,False,583.0,"[{'id': '3414212772754488989', 'type': 'Video'...",9,0,0.0,91,1

In [484]:
df_fake_public.head()

,followersCount,followingCount,isPrivate,isVerified,postsCount,latest_media_comments,latest_media_likes,username_len,username_num_count,username_ratio,biography_len,isBio
0,1027,1932,False,False,1,1.0,122.0,13,2,0.153846,0,0
1,105,7195,False,False,9,0.0,2.0,9,1,0.111111,0,0
2,98,1900,False,False,4,0.0,10.0,12,0,0.000000,0,0
3,124,7336,False,False,10,0.0,1.0,10,4,0.400000,0,0
4,121,6884,False,False,16,1.0,4.0,15,4,0.266667,0,0

In [485]:
df_public["latest_media_comments"] = df_public["latestPosts"].apply(lambda x: x[0]["commentsCount"] if x != [] else 0)

In [486]:
df_public["latest_media_likes"] = df_public["latestPosts"].apply(lambda x: x[0]["likesCount"] if x != [] else 0)

In [487]:
df_public["isLatestPost"] = np.ones(df_public.shape[0])

In [488]:
for i, j in zip(df_public["latestPosts"], range(df_public.shape[0])):
    if i == []:
        df_public.loc[j, "isLatestPost"] = 0

In [489]:
df_public["isLatestPost"].value_counts()

isLatestPost
1.0    485
0.0     34
Name: count, dtype: int64

In [490]:
df_fake_public.isna().sum()

followersCount            0
followingCount            0
isPrivate                 0
isVerified                0
postsCount                0
latest_media_comments    43
latest_media_likes       43
username_len              0
username_num_count        0
username_ratio            0
biography_len             0
isBio                     0
dtype: int64

In [491]:
df_fake_public["isLatestPost"] = np.ones(df_fake_public.shape[0])

for i, j in zip(df_fake_public["latest_media_comments"], range(df_fake_public.shape[0])):
    if pd.isna(i):  # Use pd.isna() to check for NaN values
        df_fake_public.loc[j, "latest_media_comments"] = 0
        df_fake_public.loc[j, "latest_media_likes"] = 0
        df_fake_public.loc[j, "isLatestPost"] = 0

# df_fake_public["latest_media_comments"] = df_fake_public["latest_media_comments"].replace(np.NaN, 0)
# df_fake_public["latest_media_likes"] = df_fake_public["latest_media_likes"].replace(np.NaN, 0)

In [492]:
df_fake_public.isna().sum()

followersCount           0
followingCount           0
isPrivate                0
isVerified               0
postsCount               0
latest_media_comments    0
latest_media_likes       0
username_len             0
username_num_count       0
username_ratio           0
biography_len            0
isBio                    0
isLatestPost             0
dtype: int64

In [493]:
df_public.drop(["latestPosts", "biography_len"], axis="columns", inplace=True)
df_fake_public.drop(["biography_len"], axis="columns", inplace=True)

In [494]:
df_fake_public["isLatestPost"].unique()

array([1., 0.])

In [495]:
df_public.dropna(axis="rows", inplace=True)
df_public.isna().sum()

followersCount           0
followsCount             0
isPrivate                0
isVerified               0
postsCount               0
username_len             0
username_num_count       0
username_ratio           0
isBio                    0
latest_media_comments    0
latest_media_likes       0
isLatestPost             0
dtype: int64

In [496]:
df_public_joint = pd.concat([df_public, df_fake_public])
df_public_joint.shape

(1108, 13)

In [497]:
df_public = df_public.rename(columns={'followsCount': 'followingCount'})

print(df_fake_public.columns)
print(df_public.columns)

Index(['followersCount', 'followingCount', 'isPrivate', 'isVerified',
       'postsCount', 'latest_media_comments', 'latest_media_likes',
       'username_len', 'username_num_count', 'username_ratio', 'isBio',
       'isLatestPost'],
      dtype='object')
Index(['followersCount', 'followingCount', 'isPrivate', 'isVerified',
       'postsCount', 'username_len', 'username_num_count', 'username_ratio',
       'isBio', 'latest_media_comments', 'latest_media_likes', 'isLatestPost'],
      dtype='object')

In [498]:
df_fake_public["label"] = 1
df_public["label"] = 0

In [499]:
df_public_joint = pd.concat([df_public, df_fake_public])
df_public_joint.to_json('public_joint.json', orient='records')