In [1108]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1109]:
df1 = pd.read_json("dataset_utkarsh.json")
df2 = pd.read_json("dataset_tazerr.json")
df3 =  pd.read_csv("../fake/compiled_output.csv")

In [1110]:
df1.columns

Index(['inputUrl', 'id', 'username', 'url', 'fullName', 'biography',
       'followersCount', 'followsCount', 'hasChannel', 'highlightReelCount',
       'isBusinessAccount', 'joinedRecently', 'businessCategoryName',
       'private', 'verified', 'profilePicUrl', 'profilePicUrlHD',
       'igtvVideoCount', 'relatedProfiles', 'latestIgtvVideos', 'postsCount',
       'latestPosts', 'externalUrl', 'externalUrlShimmed', 'error',
       'isRestrictedProfile', 'restrictionReason'],
      dtype='object')

In [1111]:
df2.columns

Index(['inputUrl', 'id', 'username', 'url', 'fullName', 'biography',
       'externalUrl', 'externalUrlShimmed', 'followersCount', 'followsCount',
       'hasChannel', 'highlightReelCount', 'isBusinessAccount',
       'joinedRecently', 'businessCategoryName', 'private', 'verified',
       'profilePicUrl', 'profilePicUrlHD', 'igtvVideoCount', 'relatedProfiles',
       'latestIgtvVideos', 'postsCount', 'latestPosts'],
      dtype='object')

In [1112]:
df3.columns

Index(['user_biography', 'user_followers', 'user_following', 'user_is_private',
       'user_is_verified', 'user_username', 'user_media_count',
       'latest_media_comments', 'latest_media_likes'],
      dtype='object')

In [1113]:
df1.head()

,inputUrl,id,username,url,fullName,biography,followersCount,followsCount,hasChannel,highlightReelCount,...,igtvVideoCount,relatedProfiles,latestIgtvVideos,postsCount,latestPosts,externalUrl,externalUrlShimmed,error,isRestrictedProfile,restrictionReason
0,https://www.instagram.com/gangesh.c_07,51578445672,gangesh.c_07,https://www.instagram.com/gangesh.c_07,Gangesh Chopra,:)\ndldavsb'24\nDTU MCE'28 ðŸŽ“,278.0,361.0,0.0,0.0,...,0.0,[],[],0.0,[],NaN,NaN,NaN,NaN,NaN
1,https://www.instagram.com/rahul._.gg,5700053758,rahul._.gg,https://www.instagram.com/rahul._.gg,Rahul,ðŸ‡®ðŸ‡³ðŸ‡¸ðŸ‡¦\nðŸ¥€,491.0,553.0,0.0,0.0,...,0.0,[],[],0.0,[],NaN,NaN,NaN,NaN,NaN
2,https://www.instagram.com/apparentlydaksh,66222558778,apparentlydaksh,https://www.instagram.com/apparentlydaksh,Daksh Kadyan,DTUâ€™28,154.0,151.0,0.0,0.0,...,0.0,[],[],0.0,[],NaN,NaN,NaN,NaN,NaN
3,https://www.instagram.com/rishabhraj1024,69630558552,rishabhraj1024,https://www.instagram.com/rishabhraj1024,Rishabh Raj,An introvert\nDTU{DCE} '28\nSoftware Engineering,116.0,151.0,0.0,0.0,...,0.0,[],[],0.0,[],NaN,NaN,NaN,NaN,NaN
4,https://www.instagram.com/ashish.kr_04,67645285247,ashish.kr_04,https://www.instagram.com/ashish.kr_04,Ashish Kumar Jha,DTU (DCE)''28,156.0,185.0,0.0,0.0,...,0.0,[],[],0.0,[],NaN,NaN,NaN,NaN,NaN

In [1114]:
df1 = df1.drop(list(set(df1.columns) - set(df2.columns)), axis="columns")

In [1115]:
len(df1.columns)

24

In [1116]:
df1 = df1.drop(["inputUrl", "id", "url", "profilePicUrl", "profilePicUrlHD", "externalUrl", "externalUrlShimmed"], axis="columns")
df2 = df2.drop(["inputUrl", "id", "url", "profilePicUrl", "profilePicUrlHD", "externalUrl", "externalUrlShimmed"], axis="columns")

In [1117]:
df1.drop("fullName", axis="columns", inplace=True)
df2.drop("fullName", axis="columns", inplace=True)

In [1118]:
df3.columns

Index(['user_biography', 'user_followers', 'user_following', 'user_is_private',
       'user_is_verified', 'user_username', 'user_media_count',
       'latest_media_comments', 'latest_media_likes'],
      dtype='object')

In [1119]:
df3.head()

,user_biography,user_followers,user_following,user_is_private,user_is_verified,user_username,user_media_count,latest_media_comments,latest_media_likes
0,NaN,1027,1932,False,False,a.a.ghasami20,1,1.0,122.0
1,NaN,105,7195,False,False,amirijik1,9,0.0,2.0
2,NaN,98,1900,False,False,mohamah.kurd,4,0.0,10.0
3,NaN,124,7336,False,False,golmar0543,10,0.0,1.0
4,NaN,83,2410,True,False,sadegh_abde,24,NaN,NaN

In [1120]:
df1.columns

Index(['username', 'biography', 'followersCount', 'followsCount', 'hasChannel',
       'highlightReelCount', 'isBusinessAccount', 'joinedRecently',
       'businessCategoryName', 'private', 'verified', 'igtvVideoCount',
       'relatedProfiles', 'latestIgtvVideos', 'postsCount', 'latestPosts'],
      dtype='object')

In [1121]:
df1["username_len"] = df1["username"].apply(len)
df2["username_len"] = df2["username"].apply(len)
df3["username_len"] = df3["user_username"].apply(len)

In [1122]:
def num_count(str):
    count = 0
    for i in str:
        try:
            x = int(i)
        except:
            pass
        else:
            count += 1
    return count

In [1123]:
df1["username_num_count"] = df1["username"].apply(num_count)
df2["username_num_count"] = df2["username"].apply(num_count)
df3["username_num_count"] = df3["user_username"].apply(num_count)

In [1124]:
df1.head()

,username,biography,followersCount,followsCount,hasChannel,highlightReelCount,isBusinessAccount,joinedRecently,businessCategoryName,private,verified,igtvVideoCount,relatedProfiles,latestIgtvVideos,postsCount,latestPosts,username_len,username_num_count
0,gangesh.c_07,:)\ndldavsb'24\nDTU MCE'28 ðŸŽ“,278.0,361.0,0.0,0.0,0.0,0.0,None,True,False,0.0,[],[],0.0,[],12,2
1,rahul._.gg,ðŸ‡®ðŸ‡³ðŸ‡¸ðŸ‡¦\nðŸ¥€,491.0,553.0,0.0,0.0,0.0,0.0,None,True,False,0.0,[],[],0.0,[],10,0
2,apparentlydaksh,DTUâ€™28,154.0,151.0,0.0,0.0,0.0,0.0,None,True,False,0.0,[],[],0.0,[],15,0
3,rishabhraj1024,An introvert\nDTU{DCE} '28\nSoftware Engineering,116.0,151.0,0.0,0.0,0.0,0.0,None,True,False,0.0,[],[],0.0,[],14,4
4,ashish.kr_04,DTU (DCE)''28,156.0,185.0,0.0,0.0,0.0,0.0,None,True,False,0.0,[],[],0.0,[],12,2

In [1125]:
df1["username_ratio"] = df1["username_num_count"] / df1["username_len"]
df2["username_ratio"] = df2["username_num_count"] / df2["username_len"]
df3["username_ratio"] = df3["username_num_count"] / df3["username_len"]

In [1126]:
df1.columns

Index(['username', 'biography', 'followersCount', 'followsCount', 'hasChannel',
       'highlightReelCount', 'isBusinessAccount', 'joinedRecently',
       'businessCategoryName', 'private', 'verified', 'igtvVideoCount',
       'relatedProfiles', 'latestIgtvVideos', 'postsCount', 'latestPosts',
       'username_len', 'username_num_count', 'username_ratio'],
      dtype='object')

In [1127]:
df2.columns

Index(['username', 'biography', 'followersCount', 'followsCount', 'hasChannel',
       'highlightReelCount', 'isBusinessAccount', 'joinedRecently',
       'businessCategoryName', 'private', 'verified', 'igtvVideoCount',
       'relatedProfiles', 'latestIgtvVideos', 'postsCount', 'latestPosts',
       'username_len', 'username_num_count', 'username_ratio'],
      dtype='object')

In [1128]:
df3.columns

Index(['user_biography', 'user_followers', 'user_following', 'user_is_private',
       'user_is_verified', 'user_username', 'user_media_count',
       'latest_media_comments', 'latest_media_likes', 'username_len',
       'username_num_count', 'username_ratio'],
      dtype='object')

In [1129]:
df1.drop("joinedRecently", axis="columns", inplace=True)
df2.drop("joinedRecently", axis="columns", inplace=True)

In [1130]:
df1.columns

Index(['username', 'biography', 'followersCount', 'followsCount', 'hasChannel',
       'highlightReelCount', 'isBusinessAccount', 'businessCategoryName',
       'private', 'verified', 'igtvVideoCount', 'relatedProfiles',
       'latestIgtvVideos', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio'],
      dtype='object')

In [1131]:
df2.columns

Index(['username', 'biography', 'followersCount', 'followsCount', 'hasChannel',
       'highlightReelCount', 'isBusinessAccount', 'businessCategoryName',
       'private', 'verified', 'igtvVideoCount', 'relatedProfiles',
       'latestIgtvVideos', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio'],
      dtype='object')

In [1132]:
df1.drop("hasChannel", axis="columns", inplace=True)
df2.drop("hasChannel", axis="columns", inplace=True)

In [1133]:
df1.columns

Index(['username', 'biography', 'followersCount', 'followsCount',
       'highlightReelCount', 'isBusinessAccount', 'businessCategoryName',
       'private', 'verified', 'igtvVideoCount', 'relatedProfiles',
       'latestIgtvVideos', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio'],
      dtype='object')

In [1134]:
df1.drop(["businessCategoryName", "igtvVideoCount", "relatedProfiles", "latestIgtvVideos"], axis="columns", inplace=True)
df2.drop(["businessCategoryName", "igtvVideoCount", "relatedProfiles", "latestIgtvVideos"], axis="columns", inplace=True)

In [1135]:
df1.columns

Index(['username', 'biography', 'followersCount', 'followsCount',
       'highlightReelCount', 'isBusinessAccount', 'private', 'verified',
       'postsCount', 'latestPosts', 'username_len', 'username_num_count',
       'username_ratio'],
      dtype='object')

In [1136]:
df2.columns

Index(['username', 'biography', 'followersCount', 'followsCount',
       'highlightReelCount', 'isBusinessAccount', 'private', 'verified',
       'postsCount', 'latestPosts', 'username_len', 'username_num_count',
       'username_ratio'],
      dtype='object')

In [1137]:
df3.columns

Index(['user_biography', 'user_followers', 'user_following', 'user_is_private',
       'user_is_verified', 'user_username', 'user_media_count',
       'latest_media_comments', 'latest_media_likes', 'username_len',
       'username_num_count', 'username_ratio'],
      dtype='object')

In [1138]:
df1["biography_len"] = df1["biography"].apply(len)
df2["biography_len"] = df2["biography"].apply(len)
df3["user_biography"] = df3["user_biography"].replace(np.NaN, "")
df3["biography_len"] = df3["user_biography"].apply(len)

df1.drop("biography", axis="columns", inplace=True)
df2.drop("biography", axis="columns", inplace=True)
df3.drop("user_biography", axis="columns", inplace=True)

In [1139]:
df1['isBio'] = df1['biography_len'].apply(lambda x: 1 if x > 0 else 0)
df2['isBio'] = df1['biography_len'].apply(lambda x: 1 if x > 0 else 0)
df3['isBio'] = df1['biography_len'].apply(lambda x: 1 if x > 0 else 0)

In [1140]:
df1.drop("username", axis="columns", inplace=True)
df2.drop("username", axis="columns", inplace=True)
df3.drop("user_username", axis="columns", inplace=True)

In [1141]:
df1.drop("highlightReelCount", axis="columns", inplace=True)
df2.drop("highlightReelCount", axis="columns", inplace=True)

In [1142]:
df1.columns

Index(['followersCount', 'followsCount', 'isBusinessAccount', 'private',
       'verified', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio', 'biography_len', 'isBio'],
      dtype='object')

In [1143]:
df3.columns

Index(['user_followers', 'user_following', 'user_is_private',
       'user_is_verified', 'user_media_count', 'latest_media_comments',
       'latest_media_likes', 'username_len', 'username_num_count',
       'username_ratio', 'biography_len', 'isBio'],
      dtype='object')

In [1144]:
df3 = df3.rename(columns={'user_followers': 'followersCount', 'user_following': 'followingCount', 'user_is_private': 'isPrivate', 'user_is_verified': 'isVerified', 'user_media_count': 'postsCount'})
df1 = df1.rename(columns={'private': 'isPrivate', 'verified': 'isVerified'})
df2 = df2.rename(columns={'private': 'isPrivate', 'verified': 'isVerified'})

In [1145]:
df1.columns

Index(['followersCount', 'followsCount', 'isBusinessAccount', 'isPrivate',
       'isVerified', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio', 'biography_len', 'isBio'],
      dtype='object')

In [1146]:
df2.columns

Index(['followersCount', 'followsCount', 'isBusinessAccount', 'isPrivate',
       'isVerified', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio', 'biography_len', 'isBio'],
      dtype='object')

In [1147]:
df3.columns

Index(['followersCount', 'followingCount', 'isPrivate', 'isVerified',
       'postsCount', 'latest_media_comments', 'latest_media_likes',
       'username_len', 'username_num_count', 'username_ratio', 'biography_len',
       'isBio'],
      dtype='object')

In [1148]:
df_clean = pd.concat([df1, df2])
df_clean.columns

Index(['followersCount', 'followsCount', 'isBusinessAccount', 'isPrivate',
       'isVerified', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio', 'biography_len', 'isBio'],
      dtype='object')

In [1149]:
df_clean.drop("isBusinessAccount", axis="columns", inplace=True)

In [1150]:
df_clean.columns

Index(['followersCount', 'followsCount', 'isPrivate', 'isVerified',
       'postsCount', 'latestPosts', 'username_len', 'username_num_count',
       'username_ratio', 'biography_len', 'isBio'],
      dtype='object')

In [1151]:
df3.columns

Index(['followersCount', 'followingCount', 'isPrivate', 'isVerified',
       'postsCount', 'latest_media_comments', 'latest_media_likes',
       'username_len', 'username_num_count', 'username_ratio', 'biography_len',
       'isBio'],
      dtype='object')

In [1152]:
df_public = df_clean[df_clean['isPrivate'] == False].reset_index(drop=True)
df_private = df_clean[df_clean['isPrivate'] == True].reset_index(drop=True)

In [1153]:
df_private.drop(["latestPosts", "biography_len"], axis="columns", inplace=True)

In [1154]:
df_private.columns

Index(['followersCount', 'followsCount', 'isPrivate', 'isVerified',
       'postsCount', 'username_len', 'username_num_count', 'username_ratio',
       'isBio'],
      dtype='object')

In [1155]:
df_fake_public = df3[df3['isPrivate'] == False].reset_index(drop=True)
df_fake_private = df3[df3['isPrivate'] == True].reset_index(drop=True)

In [1156]:
df_fake_private.drop(["latest_media_comments", "latest_media_likes", "biography_len"], axis="columns", inplace=True)

In [1157]:
df_fake_private["label"] = 1
df_private["label"] = 0

df_private_joint = pd.concat([df_private, df_fake_private])
df_private_joint.to_json('private_joint.json', orient='records')

In [1158]:
df_private_joint["label"].value_counts()

label
0    794
1    103
Name: count, dtype: int64