In [2]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("compiled_output.csv")
df.describe()
df["user_biography"] = df["user_biography"].replace(np.NAN, "")
df["userBiographyLength"] = df["user_biography"].apply(len)

In [14]:
df

,user_biography,user_followers,user_following,user_is_private,user_is_verified,user_username,user_media_count,latest_media_comments,latest_media_likes,userBiographyLength
0,,1027,1932,False,False,a.a.ghasami20,1,1.0,122.0,0
1,,105,7195,False,False,amirijik1,9,0.0,2.0,0
2,,98,1900,False,False,mohamah.kurd,4,0.0,10.0,0
3,,124,7336,False,False,golmar0543,10,0.0,1.0,0
4,,83,2410,True,False,sadegh_abde,24,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...
688,,1009,451,False,False,abolf_azl1384a,0,NaN,NaN,0
689,@hesam_mohammdi.official Ÿæ€åÿ¨ ÿßŸàŸÑ‚ù§‚ù§‚ù§‚ù§,106,4183,False,False,hesam.a.mohammdi,4,0.0,3.0,36
690,,102,7211,False,False,arma.nizadii,4,0.0,1.0,0
691,,95,917,False,False,rezahm001,6,0.0,0.0,0
692,Fqd to balade qlbmi ‚ô•Ô∏èaüßø,95,3042,True,False,ll_sanall80,4,NaN,NaN,24

In [16]:
df = df.drop("user_biography", axis="columns")

In [17]:
df

,user_followers,user_following,user_is_private,user_is_verified,user_username,user_media_count,latest_media_comments,latest_media_likes,userBiographyLength
0,1027,1932,False,False,a.a.ghasami20,1,1.0,122.0,0
1,105,7195,False,False,amirijik1,9,0.0,2.0,0
2,98,1900,False,False,mohamah.kurd,4,0.0,10.0,0
3,124,7336,False,False,golmar0543,10,0.0,1.0,0
4,83,2410,True,False,sadegh_abde,24,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...
688,1009,451,False,False,abolf_azl1384a,0,NaN,NaN,0
689,106,4183,False,False,hesam.a.mohammdi,4,0.0,3.0,36
690,102,7211,False,False,arma.nizadii,4,0.0,1.0,0
691,95,917,False,False,rezahm001,6,0.0,0.0,0
692,95,3042,True,False,ll_sanall80,4,NaN,NaN,24

In [ ]:
df["user_biography"] = df["user_biography"].replace(np.NAN, "")
df["userBiographyLength"] = df["user_biography"].apply(len)
df = df.drop("user_biography", axis="columns")