In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [37]:
df1 = pd.read_json("scrapped/labelled/real/dataset_utkarsh.json")
df2 = pd.read_json("scrapped/labelled/real/dataset_tazerr.json")
df3 = pd.read_csv("scrapped/labelled/fake/compiled_output.csv")

In [38]:
df1.columns

Index(['inputUrl', 'id', 'username', 'url', 'fullName', 'biography',
       'followersCount', 'followsCount', 'hasChannel', 'highlightReelCount',
       'isBusinessAccount', 'joinedRecently', 'businessCategoryName',
       'private', 'verified', 'profilePicUrl', 'profilePicUrlHD',
       'igtvVideoCount', 'relatedProfiles', 'latestIgtvVideos', 'postsCount',
       'latestPosts', 'externalUrl', 'externalUrlShimmed', 'error',
       'isRestrictedProfile', 'restrictionReason'],
      dtype='object')

In [39]:
df2.columns

Index(['inputUrl', 'id', 'username', 'url', 'fullName', 'biography',
       'externalUrl', 'externalUrlShimmed', 'followersCount', 'followsCount',
       'hasChannel', 'highlightReelCount', 'isBusinessAccount',
       'joinedRecently', 'businessCategoryName', 'private', 'verified',
       'profilePicUrl', 'profilePicUrlHD', 'igtvVideoCount', 'relatedProfiles',
       'latestIgtvVideos', 'postsCount', 'latestPosts'],
      dtype='object')

In [40]:
df3.columns

Index(['user_biography', 'user_followers', 'user_following', 'user_is_private',
       'user_is_verified', 'user_username', 'user_media_count',
       'latest_media_comments', 'latest_media_likes'],
      dtype='object')

In [42]:
df1.head()

,inputUrl,id,username,url,fullName,biography,followersCount,followsCount,hasChannel,highlightReelCount,...,igtvVideoCount,relatedProfiles,latestIgtvVideos,postsCount,latestPosts,externalUrl,externalUrlShimmed,error,isRestrictedProfile,restrictionReason
0,https://www.instagram.com/gangesh.c_07,51578445672,gangesh.c_07,https://www.instagram.com/gangesh.c_07,Gangesh Chopra,:)\ndldavsb'24\nDTU MCE'28 🎓,278.0,361.0,0.0,0.0,...,0.0,[],[],0.0,[],NaN,NaN,NaN,NaN,NaN
1,https://www.instagram.com/rahul._.gg,5700053758,rahul._.gg,https://www.instagram.com/rahul._.gg,Rahul,🇮🇳🇸🇦\n🥀,491.0,553.0,0.0,0.0,...,0.0,[],[],0.0,[],NaN,NaN,NaN,NaN,NaN
2,https://www.instagram.com/apparentlydaksh,66222558778,apparentlydaksh,https://www.instagram.com/apparentlydaksh,Daksh Kadyan,DTU’28,154.0,151.0,0.0,0.0,...,0.0,[],[],0.0,[],NaN,NaN,NaN,NaN,NaN
3,https://www.instagram.com/rishabhraj1024,69630558552,rishabhraj1024,https://www.instagram.com/rishabhraj1024,Rishabh Raj,An introvert\nDTU{DCE} '28\nSoftware Engineering,116.0,151.0,0.0,0.0,...,0.0,[],[],0.0,[],NaN,NaN,NaN,NaN,NaN
4,https://www.instagram.com/ashish.kr_04,67645285247,ashish.kr_04,https://www.instagram.com/ashish.kr_04,Ashish Kumar Jha,DTU (DCE)''28,156.0,185.0,0.0,0.0,...,0.0,[],[],0.0,[],NaN,NaN,NaN,NaN,NaN

In [44]:
df1 = df1.drop(list(set(df1.columns) - set(df2.columns)), axis="columns")

In [46]:
len(df1.columns)

24

In [48]:
df1 = df1.drop(["inputUrl", "id", "url", "profilePicUrl", "profilePicUrlHD", "externalUrl", "externalUrlShimmed"], axis="columns")
df2 = df2.drop(["inputUrl", "id", "url", "profilePicUrl", "profilePicUrlHD", "externalUrl", "externalUrlShimmed"], axis="columns")

In [52]:
df1.drop("fullName", axis="columns", inplace=True)
df2.drop("fullName", axis="columns", inplace=True)

In [50]:
df3.columns

Index(['user_biography', 'user_followers', 'user_following', 'user_is_private',
       'user_is_verified', 'user_username', 'user_media_count',
       'latest_media_comments', 'latest_media_likes'],
      dtype='object')

In [53]:
df3.head()

,user_biography,user_followers,user_following,user_is_private,user_is_verified,user_username,user_media_count,latest_media_comments,latest_media_likes
0,NaN,1027,1932,False,False,a.a.ghasami20,1,1.0,122.0
1,NaN,105,7195,False,False,amirijik1,9,0.0,2.0
2,NaN,98,1900,False,False,mohamah.kurd,4,0.0,10.0
3,NaN,124,7336,False,False,golmar0543,10,0.0,1.0
4,NaN,83,2410,True,False,sadegh_abde,24,NaN,NaN

In [54]:
df1.columns

Index(['username', 'biography', 'followersCount', 'followsCount', 'hasChannel',
       'highlightReelCount', 'isBusinessAccount', 'joinedRecently',
       'businessCategoryName', 'private', 'verified', 'igtvVideoCount',
       'relatedProfiles', 'latestIgtvVideos', 'postsCount', 'latestPosts'],
      dtype='object')

In [64]:
df1["username_len"] = df1["username"].apply(len)
df2["username_len"] = df2["username"].apply(len)
df3["username_len"] = df3["user_username"].apply(len)

In [60]:
def num_count(str):
    count = 0
    for i in str:
        try:
            x = int(i)
        except:
            pass
        else:
            count += 1
    return count

In [65]:
df1["username_num_count"] = df1["username"].apply(num_count)
df2["username_num_count"] = df2["username"].apply(num_count)
df3["username_num_count"] = df3["user_username"].apply(num_count)

In [62]:
df1.head()

,username,biography,followersCount,followsCount,hasChannel,highlightReelCount,isBusinessAccount,joinedRecently,businessCategoryName,private,verified,igtvVideoCount,relatedProfiles,latestIgtvVideos,postsCount,latestPosts,username_len,username_num_count
0,gangesh.c_07,:)\ndldavsb'24\nDTU MCE'28 🎓,278.0,361.0,0.0,0.0,0.0,0.0,None,True,False,0.0,[],[],0.0,[],12,2
1,rahul._.gg,🇮🇳🇸🇦\n🥀,491.0,553.0,0.0,0.0,0.0,0.0,None,True,False,0.0,[],[],0.0,[],10,0
2,apparentlydaksh,DTU’28,154.0,151.0,0.0,0.0,0.0,0.0,None,True,False,0.0,[],[],0.0,[],15,0
3,rishabhraj1024,An introvert\nDTU{DCE} '28\nSoftware Engineering,116.0,151.0,0.0,0.0,0.0,0.0,None,True,False,0.0,[],[],0.0,[],14,4
4,ashish.kr_04,DTU (DCE)''28,156.0,185.0,0.0,0.0,0.0,0.0,None,True,False,0.0,[],[],0.0,[],12,2

In [67]:
df1["username_ratio"] = df1["username_num_count"] / df1["username_len"]
df2["username_ratio"] = df2["username_num_count"] / df2["username_len"]
df3["username_ratio"] = df3["username_num_count"] / df3["username_len"]

In [68]:
df1.columns

Index(['username', 'biography', 'followersCount', 'followsCount', 'hasChannel',
       'highlightReelCount', 'isBusinessAccount', 'joinedRecently',
       'businessCategoryName', 'private', 'verified', 'igtvVideoCount',
       'relatedProfiles', 'latestIgtvVideos', 'postsCount', 'latestPosts',
       'username_len', 'username_num_count', 'username_ratio'],
      dtype='object')

In [72]:
df2.columns

Index(['username', 'biography', 'followersCount', 'followsCount', 'hasChannel',
       'highlightReelCount', 'isBusinessAccount', 'joinedRecently',
       'businessCategoryName', 'private', 'verified', 'igtvVideoCount',
       'relatedProfiles', 'latestIgtvVideos', 'postsCount', 'latestPosts',
       'username_len', 'username_num_count', 'username_ratio'],
      dtype='object')

In [71]:
df3.columns

Index(['user_biography', 'user_followers', 'user_following', 'user_is_private',
       'user_is_verified', 'user_username', 'user_media_count',
       'latest_media_comments', 'latest_media_likes', 'username_len',
       'username_num_count', 'username_ratio'],
      dtype='object')

In [81]:
df1.drop("joinedRecently", axis="columns", inplace=True)
df2.drop("joinedRecently", axis="columns", inplace=True)

In [82]:
df1.columns

Index(['username', 'biography', 'followersCount', 'followsCount', 'hasChannel',
       'highlightReelCount', 'isBusinessAccount', 'businessCategoryName',
       'private', 'verified', 'igtvVideoCount', 'relatedProfiles',
       'latestIgtvVideos', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio'],
      dtype='object')

In [83]:
df2.columns

Index(['username', 'biography', 'followersCount', 'followsCount', 'hasChannel',
       'highlightReelCount', 'isBusinessAccount', 'businessCategoryName',
       'private', 'verified', 'igtvVideoCount', 'relatedProfiles',
       'latestIgtvVideos', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio'],
      dtype='object')

In [91]:
df1.drop("hasChannel", axis="columns", inplace=True)
df2.drop("hasChannel", axis="columns", inplace=True)

In [92]:
df1.columns

Index(['username', 'biography', 'followersCount', 'followsCount',
       'highlightReelCount', 'isBusinessAccount', 'businessCategoryName',
       'private', 'verified', 'igtvVideoCount', 'relatedProfiles',
       'latestIgtvVideos', 'postsCount', 'latestPosts', 'username_len',
       'username_num_count', 'username_ratio'],
      dtype='object')

In [94]:
df1.drop(["businessCategoryName", "igtvVideoCount", "relatedProfiles", "latestIgtvVideos"], axis="columns", inplace=True)
df2.drop(["businessCategoryName", "igtvVideoCount", "relatedProfiles", "latestIgtvVideos"], axis="columns", inplace=True)

In [95]:
df1.columns

Index(['username', 'biography', 'followersCount', 'followsCount',
       'highlightReelCount', 'isBusinessAccount', 'private', 'verified',
       'postsCount', 'latestPosts', 'username_len', 'username_num_count',
       'username_ratio'],
      dtype='object')

In [96]:
df2.columns

Index(['username', 'biography', 'followersCount', 'followsCount',
       'highlightReelCount', 'isBusinessAccount', 'private', 'verified',
       'postsCount', 'latestPosts', 'username_len', 'username_num_count',
       'username_ratio'],
      dtype='object')

In [99]:
df3.columns

Index(['user_biography', 'user_followers', 'user_following', 'user_is_private',
       'user_is_verified', 'user_username', 'user_media_count',
       'latest_media_comments', 'latest_media_likes', 'username_len',
       'username_num_count', 'username_ratio'],
      dtype='object')

In [100]:
df1["biography_len"] = df1["biography"].apply(len)
df2["biography_len"] = df2["biography"].apply(len)
df3["biography_len"] = df3["user_biography"].apply(len)

TypeError: object of type 'float' has no len()

In [101]:
df2["user_biography"]

0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN
                       ...
688                                     NaN
689    @hesam_mohammdi.official پیج اول❤❤❤❤
690                                     NaN
691                                     NaN
692                Fqd to balade qlbmi ♥️a🧿
Name: user_biography, Length: 693, dtype: object